.one {height: 40px;
	width: 1000px;
    margin: auto;
    border-radius: 3px;
    font-weight: lighter;
    border: 3px solid #0033CC;
    background-color: #0033CC;
    font-family: Calibri;
    color: white;
    text-align: center;
    clear:both;}

h1 {margin: auto
    text-align: center}

table {margin: auto} 

.two {text-align: center;
    margin: auto;}



th{font-size: 2em;
    text-align: center;
    margin: auto}

catagory {height: 20px;
	width: 60px;
    margin: auto;
    border-radius: 1px;
    font-weight: lighter;
    border: 3px solid #0033CC;
    background-color: #0033CC;
    font-family: Calibri;
    color: white;
	text-align: center;
    padding-right: 10px;
    padding-left: 10px}
