svg
{
	border: 0px 0px;
	left: 0;
	margin:10px 0px;
	padding: 0px 0px;
	position: absolute;
	top: 0;
	z-index: 2;
}
#popup
{
	border: 0px 0px;
	height: 75%;
	margin: 10px 0px;
	overflow: hidden;
	padding: 0px 0px;
	position: absolute;
	right: 3%;
	top: 185px;
	visibility: hidden;
	width: 35%;
	z-index: 3;
}
#date
{
}
#mapContainer{
}
#laws
{
	float: right;
	font-family: Helvetica;
}
#recentLaws
{
	left: 25%;
	position: absolute;
	text-align: left;
	width: 50%
			font-size:16px;
}
path.style0
{
	fill: #FFEABD;
}
path.style1
{
	clip-rule: evenodd;
	fill: #CECECE;
	fill-rule: evenodd;
}
path.style2
{
	clip-rule: evenodd;
	fill: #CECECE;
	fill-rule: evenodd;
	stroke: #FFEABD;
	stroke-miterlimit: 10;
	stroke-width: 4;
}
.style3
{
	font-family: 'Elephant-Italic';
	font-size: 72.0144;
}
.style4
{
	font-family: 'Elephant-Regular';
	font-size: 15.8449;
}
.style5
{
	fill: none;
	stroke: #000000;
	stroke-miterlimit: 10;
	stroke-width: 0.5674;
}
.style6
{
	fill: none;
	stroke: #000000;
}
.style7
{
	font-family: 'Elephant-Regular';
	font-size: 20;
	letter-spacing: 4;
}
.style8
{
	font-family: 'Elephant-Regular';
	font-size: 20;
	letter-spacing: 43;
}
.style9
{
	font-family: 'Elephant-Regular';
	font-size: 20;
	letter-spacing: 30;
}