svg
{
	float:left;
        margin-right:-350px;
}
#popup
{
	float:left;
	border: 0px 0px;
	height: 75%;
	margin: 10px 0px;
        margin-left:130px;
	overflow: hidden;
	padding: 0px 0px;
	visibility: hidden;
	width: 35%;
}
div.popup h1
{
        text-align: left;
        padding: 0px 100px;
}
div.popup p
{
        text-align: left;
}


#recentLaws
{
	font-size:16px;
}
#billTitle
{
	text-align:rigbt;
}
#date
{
	text-align:rigbt;
	float:right;
	clear:left;
	width:75%;
}
#mapContainer{
}
#laws
{
	font-family: Helvetica;
	width:50%;
	font-size:10 px;
	margin:auto;
}
.style0{
		fill-rule:	evenodd;
		clip-rule:	evenodd;
		fill:	#BFBFBF;
}
.style1{
		fill-rule:	evenodd;
		clip-rule:	evenodd;
		stroke-miterlimit:	10;
		stroke-width:	3;
		fill:	#BFBFBF;
}
.style2{
		fill-rule:	evenodd;
		clip-rule:	evenodd;
		fill:	#009FCF;
	}
div.textBody{
width: 600px;
word-wrap: break-word;

margin-left: 15px;
}

div.textBody p{
       font-size: 22px;

}


